
.toolbar-button {
    display: inline-block;
    min-width: 32px;
    padding: 5px;
    height: 32px;
    border: 1px solid #cecece;
    margin: 5px 1px;
    cursor: pointer;
    text-align: center;
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #eaeaea 66%, #ebebeb 68%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#eaeaea 66%,#ebebeb 68%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%,#eaeaea 66%,#ebebeb 68%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e5e5e5',GradientType=0 );
}

.toolbar-button-selected {
    background: #bfbfbf;
    background: -moz-linear-gradient(top, #bfbfbf 0%, #ebebeb 32%, #eaeaea 34%, #fcfcfc 100%);
    background: -webkit-linear-gradient(top, #bfbfbf 0%,#ebebeb 32%,#eaeaea 34%,#fcfcfc 100%);
    background: linear-gradient(to bottom, #bfbfbf 0%,#ebebeb 32%,#eaeaea 34%,#fcfcfc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#fcfcfc',GradientType=0 );
}

.toolbar-button > img {
    width: 16px;
    height: 16px;
}

select {
    height: 32px;
    min-width: 42px;
    border-radius: 3px 3px;
}

span.step-title {
    font-weight: bold;
    display: block;
}

.step {
    margin-bottom: 5px;
}

input[type=text] {
    width: 100%;
}