<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div id="toolbar"></div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="map" style="width: 600px; height: 800px; margin: auto;">
            </div>
        </div>
    </div>
</div>

